:root { --nav-height: 2.2em; }
#uninav { margin: 0; padding: 0; font-size: 14px; background-color: #00538B; display: flex; align-items: center; color: #fff; position: fixed; top: 0; left: 0; right: 0; height: var(--nav-height); overflow: hidden; }
#uninav a, #uninav li:first-of-type { color: #14A1DC; text-decoration: none; transition: all 400ms; padding: .4em .8em; }
#uninav a.active:not(:hover), #uninav a:hover { color: #fff; background-color: rgba(0,0,0,.3); }
#uninav:hover a.active:not(:hover) { background-color: #00538B; }
#uninav li { list-style-type: none !important; }
#uninav li:first-of-type { background-color: #14a1dc; color: #fff; }
#uninav img { height: .9em; width: auto; display: inline-block; margin-left: 5px; margin-bottom: -1px;}
@media only screen and (min-width: 601px) {
	body.uninav { margin-top: var(--nav-height); }
}
@media only screen and (max-width: 600px) {
	#uninav { display: none; }
}