body { margin: 1rem; margin-top: 3rem; font-family: 'Open Sans', sans-serif; }
main { width: 98%; max-width: 900px; margin: auto; }
#uninav { margin: 0; padding: 0; font-size: 14px; background-color: #00538B; display: flex; align-items: center; color: #fff; position: fixed; top: 0; left: 0; right: 0; }
#uninav a, #uninav li:first-of-type { color: #14A1DC; text-decoration: none; transition: all 400ms; padding: .4em .8em; }
#uninav a.active:not(:hover), #uninav a:hover { color: #fff; background-color: rgba(0,0,0,.3); }
#uninav:hover a.active:not(:hover) { background-color: #00538B; }
#uninav li { list-style-type: none; }
#uninav li:first-of-type { background-color: #14a1dc; color: #fff; }
#uninav img { height: .9em; width: auto; display: inline-block; margin-left: 5px; margin-bottom: -1px;}
@media only screen and (max-width: 600px) {
	#uninav { display: none; }
	body { margin-top: 0; }
}